.container.calculator{
    background-color: #282c34;
    text-align: center;
}

.col.calculator{
    background-color: #718792 ;
}

.error {
    color: red;
    text-align: center;
    font-weight: bold;
}